html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* header */
.navbar .container .navbar-brand {
  font-weight: 700;
  padding-left: 10px;
  color: #6c757d;
}

.navbar .navbar-nav {
  padding-right: 10px;
}

.navbar .btn-fst {
  margin-left: 15px;
}

.navbar .btn-lng {
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  background: none;
}

.navbar .btn-lng:hover {
  color: #fff;
  background: #5a6268;
}

.navbar .active-lng {
  background: #6c757d;
  color: #fff;
}

/* label */
.font-profile-head {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
  font-size: 1.2rem;
  color: #5a6268;
}

/* footer */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
}

.font-message {
  display: block;
  text-align: center;
  margin: 0 auto;
  padding-top: 50px;
  opacity: 0.5;
}

.footer .row {
  padding: 15px 0;
  color: #6c757d;
}

.footer a {
  color: #6c757d;
  font-weight: 700;
}

.footer a:hover {
  color: #343a40;
  text-decoration: none;
}

/* login */
.login {
  padding: 10vh 0;
  text-align: center;
}

.login .form-group {
  margin-bottom: 0;
}

.login .font-profile-head,
.login .login-btn {
  width: 100%;
}

.login .font-profile-head {
  margin-top: 0;
  margin-bottom: 1.5rem;
  font-size: 1.1rem;
}

.login .font-profile-head input {
  margin-top: 10px;
}

.login .login-btn,
.login-btn__aside {
  margin-top: 20px;
  font-weight: 700;
}

.login-btn__aside {
  width: 60px;
}

.login-btn__link a {
  color: #6c757d;
}

.login-btn__link a:hover {
  color: #343a40;
}

.login .login-btn__aside:nth-child(1) {
  margin-right: 15px;
}

.login .card {
  border: none;
}

.login .card-body {
  background: #f8f9fa;
}

.login .dropdown-divider {
  margin: 1.5rem 0 0.5rem;
}

.login .invalid-feedback {
  margin-top: 0.25rem;
  font-weight: normal;
  font-size: 0.8rem;
}

/* profile */

.profile,
.profile-edit {
  padding: 20px 0;
}

.profile .profile-header {
  margin-bottom: 30px;
}

.profile .nav-item a {
  color: rgba(0, 0, 0, 0.5);
}

.profile-avatar {
  object-fit: cover;
  width: 200px;
  height: 200px;
  padding: 0.25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  max-width: 100%;
}

.profile h2 {
  margin-bottom: 1.5rem;
}

.profile .font-profile-head:nth-child(2) {
  margin-top: 0;
}

.profile .profile-input {
  display: none;
}

.profile .btn-success {
  margin: 15px 0 0;
}

.profile .nav-tabs .nav-link {
  cursor: pointer;
}

.profile .profile-tabs .nav-tabs {
  margin-bottom: 1rem;
}

/* del */
/* .media-object {
  width: 75px;
  height: 75px;
  object-fit: cover;
  border-radius: 50%;
} */

/* del */
.card img {
  height: 320px;
  object-fit: cover;
}

.profile .aside-button {
  margin-bottom: 20px;
  margin-right: 0;
  justify-content: flex-end;
  position: relative;
}

.profile .aside-button button {
  margin-left: 10px;
}

/* .profile .tab-content {
  height: 400px;
  overflow-x: hidden;
} */

/* spinner / message  */
.page-state {
  text-align: center;
  padding-top: 100px;
  background: none;
}

/* check */
.alert-info {
  margin: 0 auto;
}

/* style disabled */
.disabled-button {
  pointer-events: none;
  opacity: 50%;
}
